@inherits LocalComponentBase

<MiniInfo IsSecondary="@true" Name="@nameof(ComplexJobView)" DateTime="@DateTime.Now" />

<div class="opacity-75">
    @foreach (var subJob in Job.SubJobs)
    {
        <JobView Job="@subJob" />
    }
</div>

@code {
    [Parameter]
    public ComplexJob Job { get; set; } = null!;
}
