@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="container-fluid top-row">
            <a class="navbar-brand" href="">Moldinium Sample App for Blazor WebAssembly</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
