<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SampleApp.AspNetMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SampleApp.AspNetMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container shadow" style="min-height: 100vh; padding: 0">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Moldinium SampleApp for ASP.NET MVC</a>
                </div>
            </nav>
        </header>
        <main id="main" role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Moldinium SampleApp for ASP.NET MVC
        </div>
    </footer>
*@    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pjax.js"></script>
    <script>
        (function () {
            var reload;
            
            reload = function () {
                setTimeout(function () {
                    $.pjax({ url: '/', container: '#update', fragment: '#update', scrollTo: false })
                    reload();
                }, 500);
            };

            reload();
        })();
    </script>
</body>
</html>
