@inherits LocalComponentBase

@inject IJobListApp App

@page "/joblist"

<PageTitle>Task list sample</PageTitle>

<MiniInfo Name="@nameof(JobListPage)" DateTime="@DateTime.Now" />

<button class="btn btn-primary" @onclick="jobList.AddSimpleJob">Add simple job</button>
<button class="btn btn-primary" @onclick="jobList.AddComplexJob">Add complex job</button>
<button class="btn btn-warning" @onclick="jobList.Cancel">Cancel job</button>

<div class="mt-4">
    @foreach (var job in jobList.Items)
    {
        <JobView Job="@job" />
    }
</div>

@code {
    IJobList jobList = default!;

    protected override void OnInitialized()
    {
        jobList = App.CreateDefaultJobList();
    }
}
