@inherits LocalComponentBase

@inject ITaskListVm Vm

@page "/tasklist"

<PageTitle>Task list sample</PageTitle>

<button @onclick="Add">Add</button>

<table>
    @foreach (var item in Vm.TaskList.Items)
    {
        <tr>
            <td>
                @if (item.IsEditing)
                {
                    <input @bind="item.Config.Url" />
                }
                else
                {
                    <text>@item.Config.Url</text>
                }
            </td>
            <td>
                <button @onclick="() => item.IsEditing = true">edit</button>
                <button @onclick="() => item.IsEditing = false">save</button>
                <button @onclick="item.Start">request</button>
                <button @onclick="item.Remove">remove</button>
            </td>
        </tr>
    }
</table>

@code {
    void Add()
    {
        var newTaskConfig = Vm.CreateTaskConfig();

        Vm.TaskList.Add(newTaskConfig);
    }
}
