@model SampleApp.JobList

@{
    ViewData["Title"] = "ASP.NET MVC Job List Sample App";
}

<div class="job-list-page position-relative">
    <div class="d-flex gap-2 align-items-center">
        <button class="btn btn-primary" asp-action="AddSimpleJob">Add simple job</button>
        <button class="btn btn-primary" asp-action="AddComplexJob">Add complex job</button>

        <button class="btn btn-warning" asp-action="Cancel">Cancel job</button>
    </div>

    <div class="items mt-4">
        @foreach (var job in Model.Items)
        {
            <partial name="_Job" model="@job" />
        }
    </div>
</div>
