@inherits LocalComponentBase

@inject JobList JobList

@page "/joblist"

<PageTitle>Task list sample</PageTitle>

<CascadingValue Value="@(new ShowRerenderInfoContext(ShowRerenderInfo))">
    <div class="job-list-page position-relative">
        <MiniInfo Name="@nameof(JobListPage)" DateTime="@DateTime.Now" />

        <div class="d-flex gap-2 align-items-center">
            <button class="btn btn-primary" @onclick="JobList.AddSimpleJobCommand.Execute">Add simple job</button>
            <button class="btn btn-primary" @onclick="JobList.AddComplexJobCommand.Execute">Add complex job</button>

            <div class="ms-auto me-4 form-check">
                <input class="form-check-input" type="checkbox" @bind="ShowRerenderInfo" id="show-rerender-info" />
                <label class="form-check-label" for="show-rerender-info">
                    Show rerender info
                </label>
            </div>
            <button class="btn btn-warning" @onclick="JobList.CancelCommand.Execute">Cancel job</button>
        </div>

        <div class="items mt-4">
            @foreach (var job in JobList.Items)
            {
                <JobView Job="@job" />
            }
        </div>
    </div>
</CascadingValue>

@code {
    Boolean ShowRerenderInfo { get; set; }
}
